.advantages {
  background-color: $sectionBg;
  margin-top: 75px;
  z-index: 1000;
  border-radius: 20px;
  padding: 90px 0;
  &__container {
  }

  &__title {
  
    &::before {
      background-color: $orange !important;  
    }
  }

  &__content {
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 55px;
  }

  &__item {
    place-content: center;
  }

  &__img {
    margin: 0 auto;
    background-color: $green;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    position: relative;
    &::before {
      content: '';
      width: 115%;
      height: 115%;
      border: 1px solid #6C7188;
      position: absolute;
      border-radius: 50%;
    }
  }

  &__item-text {
    margin-top: 30px;
    text-align: center;
    max-width: 210px;
    margin-inline: auto;
    font-size: rem(18px);
  }
}

.advantages-slider {
  display: none;
}

@media (max-width: 1024px) {
  .advantages {
    &__item-text {
      font-size: rem(14px);
    }
  }
}

@media (max-width: 768px) {
  .advantages {
    padding: 55px 0 120px;
    width: 100vw;
    margin-left: -30px;
    border-radius: 0;

    &__title {
      font-size: rem(24px);
    }
  }
  .advantages-slider {
    display: block;
    margin-top: 100px;
    & .slick-dots {
      bottom: -60px;
      gap: 20px;
    }
    & .advantages__item {
      position: relative;
      top: 20px;
    }

    & .advantages__item-text {
      font-size: rem(18px);
    }
  }

  .advantages__content {
    display: none;
  }
}

@media (max-width: 425px) {
  .advantages {
    margin-left: -20px;
  }
}