.header {
  overflow: hidden;
  &__body {
    background-color: $sectionBg;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 1800px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
  }

  &__container {
  }
}

.header-slider {
  &__item {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__item1 {
    background-image: url('/img/content/header-1.png');
  }
  
  &__item2 {
    background-image: url('/img/content/header-2.png');
  }
  
  &__item3 {
    background-image: url('/img/content/header-3.png');
  }
  
  &__item4 {
    background-image: url('/img/content/header-4.png');
  }
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item-title {
    font-size: rem(70px);
    width: 580px;
    font-weight: 700;
    line-height: 126%;
    text-transform: uppercase;
  }

  &__item-pre-title {
    font-weight: 400;
    font-size: rem(20px);
    line-height: 135%;
    width: 420px;
    margin: 10px 0 40px;
  }

  &__btn {
    @extend %orangeBtn;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 28px;
    max-height: 70px;
  }
}
