@import 'default/fonts';
@import 'default/vars';
@import 'default/nullstyle';
@import 'default/mixins';

@import 'libs/slick';
@import 'header';
@import 'footer';
@import 'navbar';
@import 'form';
@import 'advantages';
@import 'delivery';
@import 'services';
@import 'about';
@import 'faq';
@import 'cooperation';


body.non-scrollable {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}


.section-title {
  text-transform: uppercase;
  position: relative;
  font-size: rem(36px);
  text-align: center;
  &::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 85px;
    background-color: $green;  
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: rem(24px);
  }
}